.user-profile {
    display: flex;
    align-items: center;
    margin-bottom: 3px;
    padding: 5px;
    background-color: rgb(72, 72, 84);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(177, 164, 164);
}

.user-profile:hover {
    background-color: rgb(99, 103, 106);
}

.info {
    margin-left: 1em;
}

.profile-pic {
    height: 60px;
    border-radius: 100%;
}