
body {
  display: flex;
  flex-direction: column;
  align-items: center; /* Optional: horizontally center the element */
  justify-content: flex-start; /* Align items at the top */
  height: 100vh; /* Ensure body covers the entire viewport height */
}

#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;

}


